@inject string FirebaseConfig
@{
    ViewData["Title"] = "Login";
}
<script type="module">
     import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js";
        import { getAuth,signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.1.0/firebase-auth.js";
    const firebaseConfig = @Html.Raw(ViewData["FirebaseConfig"]);

    const firebaseConfig = @Html.Raw(FirebaseConfig);
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

    document.getElementById("loginForm").addEventListener("submit",function(event){
        event.preventDefault();

        const email = document.getElementById("loginEmail").value;
        const password = document.getElementById("loginPassword").value;

        signInWithEmailAndPassword(auth,email,password)
        .then((userCredential)=>{
            alert("Login success");
            window.location.href="/Home"
        })
        .catch((error) =>{
            alert(error.message);
        });
    });

</script>


<div class="text-center">
    <h2>Login  : </h2>
    <form id="loginForm">
        <label>Email :</label>
        <input type="email" id="loginEmail" required />
        <br />
        <label>Password :</label>
        <input type="password" id="loginPassword" required />
        <br />
        <button type="submit">Login</button>
    </form>
    <a href="/Home/forgetpassword">Forgetpassword</a><br />
</div>