@inject string FirebaseConfig
@{
    ViewData["Title"] = "Login";
}
<script type="module">
     import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js";
     import { getAuth,signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js";

    const firebaseConfig = @Html.Raw(FirebaseConfig);
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);


    document.getElementById("loginForm").addEventListener("submit",function(event){
        event.preventDefault();

        const email = document.getElementById("loginEmail").value;
        const password = document.getElementById("loginPassword").value;

        signInWithEmailAndPassword(auth,email,password)
        .then((userCredential)=>{
            alert("Login success");
                window.location.href = "/Home"
        })
        .catch((error) =>{
                console.error('Error logging in:', error);
                alert('Error logging in');
        });
    });

</script>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="loginEmail">Email:</label>
                            <input type="email" id="loginEmail" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Password:</label>
                            <input type="password" id="loginPassword" class="form-control" required />
                        </div>
                        <br />
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>