@{
    ViewData["Title"] = "Login";
}

<script src="~/js/auth/login.js" type="module" defer></script>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-xl-5">
            <div class="card shadow-lg border-0">
                <div class="card-body m-3">
                    <h2 class="text-center text-primary mb-4">Login</h2>

                    <div id="serverErrMsg" class="alert alert-danger d-flex align-items-center justify-content-center visually-hidden" role="alert"></div>

                    <form id="loginForm" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="loginEmail" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="loginPassword" required>
                            <div class="invalid-feedback">
                                Please enter your password.
                            </div>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary px-4 mt-3">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

