@{
    ViewData["Title"] = "Sign Up";
}

<script src="~/js/auth/signup.js" type="module" defer></script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Sign Up</h2>

            <div id="serverErrMsg" class="alert alert-danger d-flex align-items-center justify-content-center visually-hidden" role="alert"></div>

            <form id="signupForm" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="signupEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="signupEmail" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="signupPassword" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="signupPassword" required minlength="8">
                    <div class="invalid-feedback">
                        Password must be at least 8 characters long.
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>